.header {
    background-color: #D9D9D9;
    padding: 15px 0;
    color: #254877;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.header .search-box {
    text-align: center;
}

/* CSS untuk tombol pencarian */
.btn-success {
    background-color: #28a745; /* Warna hijau */
    color: #fff;
    border: none;
}

.btn-success:hover {
    background-color: #218838; /* Warna hijau saat dihover */
}


.header .profile-logo, .header .unduh-image {
    text-align: right;
}

.profile-logo img, .unduh-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* CSS untuk sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -260px; /* Sembunyikan sidebar saat pertama kali */
    width: 260px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidebar.active {
    right: 0;
}

.sidebar-header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.sidebar-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007BFF;
    cursor: pointer;
}

/* Tombol untuk menutup sidebar */
.close-sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.close-sidebar:hover {
    color: #ff0000;
}

/* style.css */
/* Styling untuk kotak karya */
.karya-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.karya-box {
    background-color: #f2f2f2; /* Warna latar belakang kotak */
    border: 1px solid #ddd; /* Garis tepi kotak */
    padding: 20px; /* Ruang dalam kotak */
    margin: 50px; /* Jarak antar kotak */
    border-radius: 5px; /* Sudut kotak melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan kotak */
    text-align: center; /* Teks di tengah kotak */
    width: 180px;
    height: 400px;
}

/* Styling untuk gambar karya */
.karya-image {
    max-width: 100%; /* Gambar sesuai lebar kotak */
    height: auto; /* Menjaga aspek gambar */
    border-radius: 5px; /* Sudut gambar melengkung */
    margin-bottom: 10px; /* Jarak bawah gambar */
}

/* Styling untuk judul karya */
.karya-title {
    font-size: 1.25rem; /* Ukuran teks judul */
    font-weight: bold; /* Teks judul tebal */
    color: #333; /* Warna teks judul */
    margin: 10px 0; /* Jarak atas dan bawah judul */
}

